.starter{
  display: flex;
  align-items:center;
  flex-direction: column;
  background-color: rgb(216, 210, 210);
  padding-bottom: 10%;
  font-family: 'Franklin Gothic Medium';
}
.buttons{
  display: flex;
  align-items: row;
  width: 100%;
}

.form{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-left: 30%;

}
.form-floating{
  width: 75% !important;
  display: flex;
  align-items: center;
  padding: .05%;
}

#Gryffindor{
  width:100%;
  background-color: rgb(119, 20, 20);
}

#Hufflepuff{
  width: 100%;
  background-color: rgb(189, 189, 24);
}

#Ravenclaw{
  width: 100%;
  background-color: blue;
}

#Slytherin{
  width: 100%;
background-color: green;
}

#All{
  width: 100%;
  background-color: gray;
}

#hat{
  display: flex;
  flex: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
}

#army{
  display: flex;
  flex: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px;
  border: solid 1px black;
}

.card{
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0 0px 20px 0 rgba(0,0,0,0.2);
  background-color: rgba(0,0,0,0.2);
  transition: 0.3s
}
#container{
  margin-top: 10%;
  flex: flex row;
}
